<div class="b2b-container">
  <h1 style="font-size: var(--b2b-titles-04-font-size)">
    Cambio obligatorio de contraseña
  </h1>
  <b2b-notification-inline [visible]="true" type="alert">
    Debes establecer una contraseña nueva antes de continuar.
  </b2b-notification-inline>

  <form [formGroup]="form" (ngSubmit)="changePassword()">
    <div class="form-field">
      <label b2b-label for="newPassword">Contraseña nueva</label>
      <input
        b2b-input
        class="b2b-width-full"
        id="newPassword"
        name="newPassword"
        type="password"
        formControlName="newPassword"
      />
    </div>
    <div class="form-field">
      <label b2b-label for="confirmPassword">Confirmar contraseña</label>
      <input
        b2b-input
        class="b2b-width-full"
        id="confirmPassword"
        name="confirmPassword"
        type="password"
        formControlName="confirmPassword"
      />
    </div>

    <b2b-notification-inline
      [visible]="form.errors?.['mismatch'] && form.get('confirmPassword')?.dirty"
      type="error"
    >
      Las contraseñas no coinciden.
    </b2b-notification-inline>

    <div>
      <p>La contraseña debe cumplir los siguientes requisitos:</p>
      <ul>
        <li>Mínimo 10 caracteres</li>
        <li>Al menos una mayúscula</li>
        <li>Al menos una minúscula</li>
        <li>Al menos un número</li>
      </ul>
    </div>

    <button b2b-button type="submit" [disabled]="form.invalid">
      Establecer contraseña
    </button>
  </form>
</div>

