<div class="expired-credential-container">
  <h1 class="b2b-title-04">Credencial temporal caducada</h1>
  <b2b-notification-inline [visible]="true" type="error">
    <p>
      Su credencial temporal ha caducado
      <span *ngIf="expirationDate">el {{ expirationDate | date : 'dd/MM/yyyy' }}</span>.
    </p>
    <p>
      Por favor, solicite un nuevo restablecimiento a su Administrador.
    </p>
  </b2b-notification-inline>

  <button b2b-button (click)="goBackToLogin()">Volver al formulario de acceso</button>
</div>

