<b2b-container>
  <div b2b-container-body class="expired-credential-page">
    <h1 style="font-size: var(--b2b-titles-04-font-size)">
      Credencial temporal caducada
    </h1>

    <b2b-notification-inline
      data-testid="notification"
      [visible]="true"
      state="error"
      type="error"
      title="La credencial temporal ha caducado, solicita un nuevo restablecimiento al administrador"
    ></b2b-notification-inline>

    <b2b-read-data *ngIf="expirationDate" data-testid="expiration-date">
      <span b2b-read-data-label>Fecha de vencimiento</span>
      <span b2b-read-data-value>{{ expirationDate | date: 'dd/MM/yyyy HH:mm' }}</span>
    </b2b-read-data>

    <b2b-notification-inline
      [visible]="true"
      state="info"
      type="info"
      title="Solicita al Administrador un nuevo restablecimiento de tu contraseña para volver a acceder."
    ></b2b-notification-inline>

    <div class="actions">
      <button b2b-button type="button" data-testid="back-to-login" (click)="goBackToLogin()">
        Volver al formulario de acceso
      </button>
    </div>
  </div>
</b2b-container>
