:host {
  display: block;
  height: 100%;
}

.page-container {
  display: flex;
  height: 100vh;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

main {
  padding: 24px;
  flex-grow: 1;
  background-color: #f4f5f6;
}
