.home-identity {
  display: grid;
  gap: 1rem;
  margin-block: 1.5rem;
}

.home-shortcuts {
  margin-block: 1.5rem;
}

.home-shortcut {
  padding-block: 0.75rem;
}

.shortcut-description {
  font-size: var(--b2b-text-caption-m-font-size);
}
