:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-user-name {
  font-size: var(--b2b-text-font-size);
}

.shell-body {
  display: flex;
  flex: 1;
}

.shell-nav {
  flex: 0 0 auto;
}

.shell-content {
  flex: 1;
  min-width: 0;
  padding-block: 1.5rem;
}
