<b2b-container>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" data-testid="change-password-form">
    <b2b-password-field
      formControlName="currentPassword"
      label="Contraseña actual"
      class="b2b-width-full"
    ></b2b-password-field>
    <b2b-password-field
      formControlName="newPassword"
      label="Nueva contraseña"
      class="b2b-width-full"
    ></b2b-password-field>
    <b2b-password-field
      formControlName="confirmPassword"
      label="Confirmar nueva contraseña"
      class="b2b-width-full"
    ></b2b-password-field>

    <button b2b-button type="submit" [disabled]="changePasswordForm.invalid">
      Guardar
    </button>
    <a b2b-button variant="secondary" routerLink="/mi-perfil" data-testid="cancel-button">Cancelar</a>
  </form>
</b2b-container>
