<div class="b2b-container">
  <h1 style="font-size: var(--b2b-titles-04-font-size)">Acceso</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-field">
      <b2b-notification-inline
        *ngIf="errorMessage"
        status="error"
        >{{ errorMessage }}</b2b-notification-inline
      >
    </div>
    <div class="form-field">
      <label b2b-label for="username">Correo corporativo</label>
      <input
        b2b-input
        class="b2b-width-full"
        id="username"
        name="username"
        formControlName="username"
      />
    </div>
    <div class="form-field">
      <label b2b-label for="password">Contraseña</label>
      <b2b-password-field
        class="b2b-width-full"
        id="password"
        name="password"
        formControlName="password"
      ></b2b-password-field>
    </div>
    <button b2b-button type="submit" [disabled]="loginForm.invalid">
      Acceder
    </button>
  </form>
</div>
