<b2b-container>
  <h1 style="font-size: var(--b2b-titles-04-font-size)">Sesión finalizada</h1>
  <b2b-notification-inline
    [visible]="true"
    state="info"
    type="info"
    [title]="title"
    [description]="message"
    data-testid="reason"
  ></b2b-notification-inline>
  <b2b-read-data>
    <span b2b-read-data-label>Fecha y hora de finalización</span>
    <span b2b-read-data-value data-testid="datetime">{{ endedAt | date: 'dd/MM/yyyy HH:mm' }}</span>
  </b2b-read-data>
  <button
    b2b-button
    type="button"
    class="b2b--primary"
    data-testid="back-button"
    (click)="goToLogin()"
  >
    Volver al formulario de acceso
  </button>
</b2b-container>
