<div class="b2b-container-xl">
  <div class="b2b-grid">
    <div class="b2b-col-12">
      <b2b-notification-inline
        [visible]="true"
        type="ok"
        title="Incidencia creada correctamente"
        class="b2b-m-y-24"
      ></b2b-notification-inline>
    </div>

    <div class="b2b-col-12">
      <b2b-read-data
        label="Código de referencia"
        value="INC-2024-000001"
        class="b2b-m-b-24"
      ></b2b-read-data>
    </div>

    <div class="b2b-col-12 b2b-m-b-24">
      <a
        b2b-link
        (click)="navigateToIncidentDetail()"
        (keydown.enter)="navigateToIncidentDetail()"
        tabindex="0"
        >Ver detalle de la incidencia</a
      >
    </div>

    <div class="b2b-col-12">
      <button b2b-button (click)="navigateToCreateIncident()">
        Crear otra incidencia
      </button>
    </div>
  </div>
</div>
